@font-face {
    font-family: "rale-regular";
    src: url("@/assets/fonts/Raleway-Thin.ttf");
  }
  @font-face {
    font-family: "rale-bold";
    src: url("@/assets/fonts/Raleway-Bold.ttf");
  }
  @font-face {
    font-family: "open-regular";
    src: url("@/assets/fonts/OpenSans-Regular.ttf");
  }