
.items-list{
    justify-content: center;
    flex-wrap: wrap;
    margin-left: rem(220px);
    margin-right: rem(220px);
    margin-top: rem(150px);
    @include for-sm-layout {
        margin-left: 0px;
        margin-right: 0px;
     }
    ul{
        display: flex;
        flex-wrap: wrap;
        gap: rem(60px);
        justify-content: center;
    }
    li{
        width: rem(340px);
    }
}

.custom-card{
    .title{
        font-size: rem(20px);
        font-family: rale-bold;
        color: $clr2;
    }
    p{
        font-size: rem(14px);
        color: $clr2;
        margin-top: 0px;
    }
}