.main-header{
    margin-top: rem(75px);
    .header-features{
        gap: 5px;
        button{
            background-color: transparent;
            border: none;
            color: $clr2;
            font-family: rale-bold;
            font-size: rem(16px);
        }
    }

   
}
